.page-container {
  width: 1300px;
  padding: 10px;
  margin: 0 auto;
  padding-top: 76px;
  display: flex;
  gap: 35px;
  background: linear-gradient(to right, #ffefba, #ffffff);
}

.store-content-container {
  margin: 0 35px;
  width: 100%;
}

.header {
  margin-bottom: 30px;
  padding-left: 10px;
  border-left: 10px solid #adb5bd;
  border-right: 10px solid #adb5bd;
  background-image: url(/assets/men-shop-header.jpg);
  background-size: cover;
  padding: 10rem 10rem 10rem 5rem;
}

.men-header {
  color: #e9ecef;
  font-size: 42px;
  font-weight: bold;
  font-family: serif;
}

#label {
  color: #dc2626;
}

.men-description {
  color: #adb5bd;
  font-size: 20px;
}

.store-content {
  display: grid;
  grid-template-columns: repeat(4, 240px);
  grid-template-rows: repeat(2, 406px) 58px;

  column-gap: 83px;
  row-gap: 41.5px;
}

.img-right {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
  background-image: url(/assets/men-tshirtsection.jpg);
  background-size: cover;
  height: 550px;
}

.img-left {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background-image: url(/assets/men-tshirtsection.jpg);
  background-size: cover;
  height: 550px;
}

.btn2 p {
  margin: 0;
}

.arrow-down {
  height: 18px;
}

.btn2 {
  font-size: 20px;
  padding: 8px 24px;
  grid-column: 1/3;
  margin: auto;
}

section {
  padding: 70px 0px;
  border-bottom: 1px solid #ced4da;
}

.desc-container-right {
  grid-column: 3/5;
  grid-row: 2/3;
  margin-top: 220px;
  text-align: center;
}

.desc-container-left {
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 220px;
  text-align: center;
}

.desc-container-right h1,
.desc-container-left h1 {
  font-size: 52px;
  margin-bottom: 52px;
}

.desc-container-right p,
.desc-container-left p {
  font-size: 16px;
  line-height: 1.5;
}

h1,
p {
  font-family: serif !important;
}

.reverse {
  flex-direction: row-reverse;
}
