<div class="page-container mat-elevation-z24">
  <div class="store-content-container">
    <header>
      <div class="header">
        <h1 class="men-header">גברים</h1>
        <p class="men-description">ראשי - כל הקולקציה - גברים</p>
      </div>
      <div class="filter-container">
        <ul class="filter-list">
          <li class="filter-list-item">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="dropdown-button dropdown-toggle"
                aria-controls="dropdown-animated"
              >
                סוג בגד <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="filter-list-item">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="dropdown-button dropdown-toggle"
                aria-controls="dropdown-animated"
              >
                צבע <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="filter-list-item">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="dropdown-button dropdown-toggle"
                aria-controls="dropdown-animated"
              >
                מידה <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="filter-list-item">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="dropdown-button dropdown-toggle"
                aria-controls="dropdown-animated"
              >
                מחיר <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="filter-list-item">
            <div class="btn-group" dropdown placement="bottom right">
              <button
                id="button-animated"
                dropdownToggle
                type="button"
                class="dropdown-button dropdown-toggle"
                aria-controls="dropdown-animated"
              >
                גזרה <span class="caret"></span>
              </button>
              <ul
                id="dropdown-animated"
                *dropdownMenu
                class="dropdown-menu dropdown-menu-right"
                role="menu"
                aria-labelledby="button-animated"
              >
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
                <li role="menuitem" class="menuitem">
                  <a class="dropdown-item" href="#">דוגמה</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </header>
    <section class="store-main">
      <!-- Content goes here -->
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
      <app-card></app-card>
    </section>
  </div>
  <aside>
    <div class="side-filter-container mat-elevation-z10">
      <p>Color</p>
      <p>Size</p>
      <p>Price</p>
    </div>
  </aside>
</div>
