/////////////////////////////////////////
//    Milen Website color selection    //
// Copy this for every .sass component //
/////////////////////////////////////////
$primary-color-black: #171717;
$primary-color-gradient: #000000, #434343;

$sec-color-bisque: #fff9db;
$sec-color-gradient: #ffefba, #ffffff;

$grey-color: #e9ecef;

$website-font: "Source Serif Pro", serif;
$header-margin: 5.5rem;
/////////////////////////////////////////
/// 1rem = 10px ///
///////////////////

// Store components are the same
// Only difference is images

.page-container {
  width: 130rem;
  padding: 1rem;
  margin: 0 auto;
  padding-top: 8rem;
  display: flex;
  gap: 3.5rem;
  background: linear-gradient(to right, $sec-color-gradient);
}

.store-content-container {
  margin: 0 3.5rem;
  width: 100%;
}

.header-container {
  margin-bottom: 3.5rem;
  padding-left: 1rem;
  border-left: 1rem solid $grey-color;
  border-right: 1rem solid $grey-color;
  background-image: url(/assets/WomenStoreImgs/header.jpg);
  background-size: cover;
  padding: 12rem 10rem 12rem 5rem;
}

.header {
  color: $grey-color;
  font-size: 4rem;
  font-weight: bold;
  font-family: $website-font;
}

#label {
  color: #dc2626;
}

.description {
  color: $grey-color;
  font-size: 2rem;
}

.store-content {
  display: grid;
  grid-template-columns: repeat(4, 24rem);
  grid-template-rows: repeat(2, 406px) 58px;

  column-gap: 83px;
  row-gap: 41.5px;
}

.img-right {
  grid-row: 1 / 3;
  grid-column: 3 / 5;
  background-image: url(/assets/WomenStoreImgs/tshirt.jpg);
  background-size: cover;
  height: 55rem;
}

.img-left {
  grid-row: 1 / 3;
  grid-column: 1 / 3;
  background-image: url(/assets/WomenStoreImgs/tshirt.jpg);
  background-size: cover;
  height: 55rem;
}

.btn--modifier {
  p {
    margin: 0;
  }
}

.arrow-down-icon {
  height: 1.5rem;
}

.btn--modifier {
  font-size: 2rem;
  padding: 1rem 2.5rem;
  grid-column: 1/3;
  margin: auto;
}

section {
  padding: 7rem 0px;
  border-bottom: 1px solid $grey-color;
}

////////////////////
/// Custom mixin ///
////////////////////
@mixin align-and-margin-containers {
  margin-top: 22rem;
  text-align: center;
}
.desc-container-right {
  grid-column: 3/5;
  grid-row: 2/3;
  @include align-and-margin-containers;
}

.desc-container-left {
  grid-column: 1/3;
  grid-row: 2/3;
  @include align-and-margin-containers;
}
////////////////////

.desc-container-right,
.desc-container-left {
  h1 {
    font-size: 5rem;
    margin-bottom: 5rem;
  }
}

.desc-container-right,
.desc-container-left {
  p {
    font-size: 1.5rem;
    line-height: 1.5;
  }
}

h1,
p {
  font-family: $website-font !important;
}

.navbar-item {
  padding: 16px 0;
  text-align: center;
  width: 12.5%;
  font-size: 20px;
  border-bottom: 1px solid $primary-color-black;
  transition: all 0.2s ease-in-out;
}

.navbar-item:hover {
  padding: 11px 0;
  border-bottom: 7px solid $grey-color;
  color: $grey-color;
  cursor: pointer;
}
