<form
  [formGroup]="loginForm"
  *ngIf="!(currentUser$ | async)"
  (ngSubmit)="login()"
  autocomplete="off"
>
  <div
    class="login nav-popup mat-elevation-z8"
    [ngClass]="{ fadeOut: this.fadeOut }"
  >
    <h2 class="login__header">Log in</h2>
    <div class="login__inputs">
      <input
        class="login__input--modifier"
        formControlName="email"
        type="email"
        placeholder="Email here"
        autocomplete="off"
      />
      <input
        class="login__input--modifier"
        formControlName="password"
        type="password"
        placeholder="Password here"
        autocomplete="off"
      />
    </div>
    <button
      type="submit"
      class="btn-2-highlight"
      mat-ripple
      [matRippleCentered]="true"
      [matRippleUnbounded]="false"
    >
      Submit
    </button>
    <hr />
    <button
      class="btn-2"
      routerLink="/register"
      mat-ripple
      [matRippleCentered]="true"
      [matRippleUnbounded]="false"
    >
      Not a member
      <div class="text-small">Sign me in &rarr;</div>
    </button>
    <a href="#" class="forgot-pass">Forgot password</a>
  </div>
</form>

<!-- Features: -->
<!-- 
  Adter submitting - send messages if:
  Email incorrent
  Password incorrect
 -->
