<mat-accordion
  class="content mat-elevation-z8"
  multi
  [ngClass]="{ fadeOut: this.fadeOut }"
>
  <mat-expansion-panel class="panel" [ngClass]="{ matopen: true }">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title"> All Collection</mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Example</li>
      <li>Example</li>
      <li>Example</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="panel" [ngClass]="{ matopen: true }">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title"> Men </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Example</li>
      <li>Example</li>
      <li>Example</li>
    </ul>
  </mat-expansion-panel>
  <mat-expansion-panel class="panel" [ngClass]="{ matopen: true }">
    <mat-expansion-panel-header>
      <mat-panel-title class="panel-title"> Women </mat-panel-title>
    </mat-expansion-panel-header>
    <ul>
      <li>Example</li>
      <li>Example</li>
      <li>Example</li>
    </ul>
  </mat-expansion-panel>
</mat-accordion>
