// Importing style variables
@import "../../styles.scss";

.card {
  max-width: 40rem;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  background: linear-gradient(
    to bottom,
    $grey-color,
    $grey-color,
    #434343,
    #000
  );
  color: $text-color-white;
  @include MulishFont500;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 8px 9px -5px rgb(0 0 0 / 20%),
      0px 8px 10px 1px rgb(0 0 0 / 0%), 0px 3px 14px 2px rgb(0 0 0 / 8%);
    cursor: pointer;

    .btn-2 {
      background-color: $primary-color-black;
      border-color: $text-color-white;
      color: $text-color-white;

      &:hover {
        background: lighten($color: $primary-color-black, $amount: 10);
      }
    }
  }
}

mat-card-content {
  text-align: left;
}

h4 {
  font-size: 2rem;
}

.img {
  height: 25rem;
  border-radius: 0.5rem;
  // background-image: url(/assets/Cloths_images/IMG-0090.jpg);
  background-size: cover;
  margin: 0 !important;
}

.btn-2 {
  width: 100%;
  text-transform: uppercase;
}

.card__sub-header {
  margin: 0;
  @include MulishFont700;
}

.star {
  height: 1.6rem;
}

#stars {
  padding-top: 8px;
  font-size: 13px;
  display: flex;
  gap: 1px;
  color: $sec-color-bisque;

  span {
    margin-left: 4px;
  }
}
