/////////////////////////////////////////
//    Milen Website color selection    //
// Copy this for every .sass component //
/////////////////////////////////////////
$primary-color-black: #171717;
$primary-color-gradient: #000000, #434343;

$sec-color-bisque: #fff9db;
$sec-color-gradient: #ffefba, #ffffff;

$grey-color: #e9ecef;
$text-color: #343a40;

$website-font: "Source Serif Pro", serif;
$header-margin: 5.5rem;
/////////////////////////////////////////
/// 1rem = 10px ///
///////////////////

.example-card {
  max-width: 40rem;
  padding: 0;
  border-radius: 0.5rem;
  box-shadow: none;
  background: none;
  transition: all 0.2s ease-in-out;
  position: relative;
  background-color: $grey-color;
}

.example-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 8px 9px -5px rgb(0 0 0 / 20%),
    0px 8px 10px 1px rgb(0 0 0 / 0%), 0px 3px 14px 2px rgb(0 0 0 / 8%);
  cursor: pointer;
}

mat-card-content {
  text-align: left;
}

h4 {
  font-size: 2rem;
}

.img {
  height: 25rem;
  border-radius: 0.5rem;
  background-image: url(/assets/Cloths_images/IMG-0090.jpg);
  background-size: cover;
  margin: 0 !important;
}

.btn--modifier {
  width: 100%;
  background-color: inherit;
  text-transform: uppercase;
  font-family: $website-font;
}

.sub-header {
  margin: 0;
}

.star {
  height: 16px;
}

#stars {
  span {
    margin-left: 4px;
  }
}

#stars {
  padding-top: 8px;
  font-size: 13px;
  display: flex;
  gap: 1px;
}
