<header class="header">
  <h1 class="header__text">
    <p class="half1">Get yourself</p>
    <p class="half2">Into the right gear</p>
    <button class="btn-2-highlight">View Collection &rarr;</button>
  </h1>
  <img [src]="'/assets/Cloths_images/header.jpg'" class="header__img" alt="" />
</header>

<main>
  <div class="store">
    <div class="store__men-nav img" routerLink="men">
      <p class="img--cap">Men</p>
    </div>
    <div class="store__women-nav img" routerLink="women">
      <p class="img--cap">Women</p>
    </div>
    <div class="store__children-nav img" routerLink="children">
      <p class="img--cap">Children</p>
    </div>
    <div class="store__accessories-nav img" routerLink="accessories">
      <p class="img--cap">Accessories</p>
    </div>
    <div class="store__seasonal-nav img" routerLink="seasonal">
      <p class="img--cap">Seasonal</p>
    </div>
  </div>
  <label class="label" for="bestCollection"
    ><p class="half1">Newest</p>
    <p class="half2">Collection</p>
    <button class="btn-2 collectionBtn">View all &rarr;</button></label
  >
  <div class="best-seller" #bestCollection>
    <app-card [tshirt]="tshirts[1]"></app-card>
    <app-card [tshirt]="tshirts[1]"></app-card>
    <app-card [tshirt]="tshirts[1]"></app-card>
    <app-card [tshirt]="tshirts[1]"></app-card>
    <app-card [tshirt]="tshirts[1]"></app-card>
  </div>
</main>

<aside>
  <div class="block right">
    <div class="block__col--1">
      <h2 class="block__heading">
        View our <span class="block__heading--modifier">hottest</span> new
        collection
        <p class="block__sub--modifier">It’ll blow your mind.</p>
      </h2>
      <p class="block__text">
        Some great placeholder content for the first featurette here. Imagine
        some exciting prose here.
      </p>
      <button
        class="btn-2-highlight"
        mat-ripple
        [matRippleCentered]="true"
        [matRippleUnbounded]="false"
      >
        Get me there! &rarr;
      </button>
    </div>
    <img class="img" [src]="'./assets/Cloths_images/IMG-0090.jpg'" />
  </div>

  <div class="block left">
    <div class="block__col--1">
      <h2 class="block__heading">
        Oh yeah, it’s that good.
        <p class="block__sub--modifier">See for yourself.</p>
      </h2>
      <p class="block__text">
        Another featurette? Of course. More placeholder content here to give you
        an idea of how this layout would work with some actual real-world
        content in place.
      </p>
      <button
        class="btn-2-highlight"
        mat-ripple
        [matRippleCentered]="true"
        [matRippleUnbounded]="false"
      >
        Get me there! &rarr;
      </button>
    </div>

    <img class="img" [src]="'./assets/Cloths_images/IMG-0093.jpg'" />
  </div>

  <div class="block right-2">
    <div class="block__col--1">
      <h2 class="block__heading">
        And lastly, this one.
        <p class="block__sub--modifier">Checkmate.</p>
      </h2>
      <p class="block__text">
        And yes, this is the last block of representative placeholder content.
        Again, not really intended to be actually read, simply here to give you
        a better view of what this would look like with some actual content.
        Your content.
      </p>
      <button
        class="btn-2-highlight"
        mat-ripple
        [matRippleCentered]="true"
        [matRippleUnbounded]="false"
      >
        Get me there! &rarr;
      </button>
    </div>

    <img class="img" [src]="'./assets/Cloths_images/IMG-0094.jpg'" />
  </div>
</aside>

<footer class="footer">
  <p class="footer__text"><a href="#">Back to top</a></p>
  <p>
    © 2017-2022 Company, Inc. · <a href="#">Privacy</a> ·
    <a href="#">Terms</a>
  </p>
</footer>
