/////////////////////////////////////////
//    Milen Website color selection    //
// Copy this for every .sass component //
/////////////////////////////////////////
$primary-color-black: #171717;
$primary-color-gradient: #000000, #434343;

$sec-color-bisque: #fff9db;
$sec-color-gradient: #ffefba, #ffffff;

$grey-color: #e9ecef;
$text-color: #343a40;

$website-font: "Source Serif Pro", serif;
$header-margin: 5.5rem;
/////////////////////////////////////////
/// 1rem = 10px ///
///////////////////

form {
  margin-top: 10rem;
}

////////////////////
/// Custom Mixin ///
////////////////////
@mixin flex-and-column {
  display: flex;
  flex-direction: column;
}
.container {
  align-items: center;
  width: fit-content;
  padding: 32px 64px;
  background: linear-gradient(to right, $sec-color-gradient);
  color: $text-color;
  @include flex-and-column;
}

.input-container {
  @include flex-and-column;
}
////////////////////

h1 {
  margin-bottom: 32px;
  font-size: 24px;
}

.input {
  display: block;
  width: 260px;
  padding: 10px;
  border: none;
  background: linear-gradient(to right, $primary-color-gradient);
  color: $sec-color-bisque;
  transition: all 0.2s ease-in-out;
}

.input:hover {
  transform: scale(1.02);
  box-shadow: 0px 5px 5px 2px rgb(0 0 0 / 10%),
    0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.btn--modifier {
  color: $sec-color-bisque;
  background: linear-gradient(to right, $primary-color-gradient);
  padding: 8px 22px;
  margin-bottom: 16px;
  font-size: 16px;
}

.field {
  margin-bottom: 16px;
}

.warning-icon {
  width: 16px;
  height: 16px;
  stroke: 1.5px;
}
