h1,
p {
  margin: 0;
  padding: 0;
}

.navbar {
  position: fixed;
  top: 0;
  /* background: linear-gradient(to right, #000000, #434343); */
  background-color: transparent;
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 20;
  transition: all 0.2s ease-in-out;
}

.navbar:hover {
  /* background: linear-gradient(to right, #fff9e4, #ffffff); */
  background-color: #fff9e4;
}

.navbar:hover a,
.navbar:hover .nav-icon {
  color: #343a40;
}

.navbar:hover .nav-button {
  padding: 2.5rem 0;
  padding-top: 3rem;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
  width: 100%;
}

.container__brand {
  display: flex;
  align-items: center;
}

.nav-button {
  padding: 1.5rem 0;
  padding-top: 2rem;
  background-color: transparent;
  border: none;
  margin-left: 1.5rem;
  transition: all 0.2s ease-in-out;
}

.nav-button:hover .nav-icon {
  transform: translateY(-2px);
}
.nav-button:active .nav-icon {
  transform: translateY(-0px);
}

.nav-icon {
  transition: all 0.2s ease-in-out;
  height: 2.5rem;
  color: #fff9e4;
}

.navbar-brand {
  font-family: "Mulish", "Serif" !important;
  font-style: unset !important;
  font-weight: 700 !important;
  transition: all 0.2s ease-in-out;
}

a:link,
a:visited {
  color: #fff9e4;
  text-decoration: none;
}

.navbar-brand:hover {
  transform: translateY(-2px);
}

.navbar-brand:active {
  transform: translateY(-0px);
}

.search {
  width: 100%;
  padding: 1rem 7rem;
  background-color: #171717;
  border: grey;
  color: grey;
  border-radius: 2em;
  transition: all 0.2s ease-in-out;
}

.search:hover {
  outline: 1px solid aliceblue;
  background-color: #373737;
}
