.sidenavBtn {
  box-shadow: none;
  margin-left: 2rem;
}

.navbar-brand {
  font-size: 30px;
  font-weight: bold;
  font-family: fantasy;
}

.fa-list-ul {
  font-size: 34px;
  color: white;
}

.search {
  margin-right: 1rem;
}
.navbar {
  padding-left: 2rem;
  padding-right: 2rem;
  background-color: rgb(18, 18, 18);
}

.form-inline {
  display: flex;
}

.navbar-list {
  justify-content: space-between;
}

mat-sidenav {
  width: max-content;
  padding: 16px;
  text-align: start;
  border: none;
  background-color: rgb(18, 18, 18);
}

mat-sidenav-container {
  background-color: rgb(18, 18, 18);
  height: calc(100vh - 100px);
  border-radius: 1em;
}

.side-nav-container {
  position: absolute;
  top: 84px;
  right: 16px;
}

.panel {
  background-color: rgb(18, 18, 18);
}

.panel-title {
  color: white;
}

mat-expansion-panel ul {
  color: white;
}
