<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Milen</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse navbar-list" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Store</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input
          class="form-control mr-sm-2 search"
          type="text"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
    </div>
    <button type="button" class="btn sidenavBtn" (click)="sideNav.toggle()">
      <i class="fa fa-list-ul"></i>
    </button>

    <!-- Using angular material to display side navigation options -->

    <div class="side-nav-container">
      <mat-sidenav-container>
        <!-- Content -->
        <mat-sidenav mode="side" #sideNav="matSidenav">
          <!-- Content goes here -->
          <!-- Using MatExpansionPanel -->
          <mat-accordion>
            <mat-expansion-panel mat-ripple class="panel">
              <mat-expansion-panel-header>
                <mat-panel-title class="panel-title">
                  New Collection
                </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel mat-ripple class="panel">
              <mat-expansion-panel-header>
                <mat-panel-title class="panel-title"> Men </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
              </ul>
            </mat-expansion-panel>
            <mat-expansion-panel class="panel mat-elevation-z0" mat-ripple>
              <mat-expansion-panel-header>
                <mat-panel-title class="panel-title"> Women </mat-panel-title>
              </mat-expansion-panel-header>
              <ul>
                <li>Test</li>
                <li>Test</li>
                <li>Test</li>
              </ul>
            </mat-expansion-panel>
          </mat-accordion>
        </mat-sidenav>
      </mat-sidenav-container>
    </div>
  </nav>
</header>

<!-- Using angular material to display side navigation options -->

<!-- <script
  src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
  crossorigin="anonymous"
></script>
<script>
  window.jQuery ||
    document.write(
      '<script src="/docs/4.6/assets/js/vendor/jquery.slim.min.js"><\/script>'
    );
</script>
<script
  src="/docs/4.6/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
  crossorigin="anonymous"
></script> -->
