<header>
  <div class="header-container">
    <h1 class="header">Men</h1>
    <p class="description">Make an <strong id="label">Impact</strong></p>
  </div>
</header>
<div class="page-container">
  <div class="toolbox">
    <div class="toolbox__container">
      <p class="aside__header">Quick actions</p>
      <hr />
      <ul class="category__list">
        <li class="category__list--item">T-Shirts</li>
        <li class="category__list--item">Jeans</li>
        <li class="category__list--item">Boots</li>
        <li class="category__list--item">Coats</li>
        <li class="category__list--item">Jackets</li>
      </ul>
    </div>
  </div>
  <div class="store-content-container">
    <section class="store-content">
      <h1>T-Shirts</h1>
      <button class="btn-2">View all &rarr;</button>
      <!-- Content goes here -->
      <ng-container *ngFor="let item of tshirts">
        <app-card [tshirt]="item"></app-card>
      </ng-container>
    </section>
    <section class="store-content">
      <h1>Jeans</h1>
      <button class="btn-2">View all &rarr;</button>
      <!-- Content goes here -->
      <ng-container *ngFor="let item of tshirts">
        <app-card [tshirt]="item"></app-card>
      </ng-container>
    </section>
    <section class="store-content">
      <h1>Coats</h1>
      <button class="btn-2">View all &rarr;</button>
      <!-- Content goes here -->
      <ng-container *ngFor="let item of tshirts">
        <app-card [tshirt]="item"></app-card>
      </ng-container>
    </section>
  </div>
</div>
